@import "src/css/toast.less";

@darkgrey: #333;
@lightgrey: #aaa;

.main-container{
    margin-top: 40px;
    //background: @lightgrey;
    //color: white;
}
// Put your styles in here

.btn-search{
    width: 134px;
}
